.completed{
    background-color: #eeeeee;

}
.not-completed{
    background-color: white;
}

/*.card{
    margin: 0 auto;
}*/

#created{
    font-size: 0.7rem;
    color: gray;
}

.task-container{
    border: silver solid 1px;
    border-radius: 0.25rem;
    padding: 10px;
    margin: 10px;

}

#deleted-task{
    background-color: rgba(254,105,147,0.1);
    color: #fe6993;
    border: 3px;
    padding: 0.2em;
    line-height: 2em;
    display: inline-block;
}