{% extends 'base.html' %}
{% block body %}
<div class="card">
    <div class="card-header">
        Delete Task
    </div>
    <div class="card-body">
        <b>Are you sure that you want to delete {{ task.task_name }}?</b>
        <div class="row">
        <a href="{% url 'index' %}"><button class="btn btn-info">No, go back</button></a>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes, delete">
        </form>

        </div>
    </div>
</div>
{% endblock %}