{% extends 'base.html' %}
{% block body %}
    <div class="card">
        <div class="card-header">
            Update Task
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-10 col-9">
                        {{ form.task_name.label }}
                        {{ form.task_name }}
                    </div>
                    <div class="col-lg-2 col-3">
                            {{ form.completed.label }}
                        <div class="form-check form-switch">
                        {{ form.completed }}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 3px">
                    <div class="col">
                        <a href="{% url 'index' %}" class="btn btn-info text-light"><- Go back</a>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}